body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1; /* Le contenu principal occupe l’espace disponible */
}

footer {
    position: relative; /* Le footer n'est pas fixe, il suit le flux normal */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed; /* Fixer le footer en bas de la page */
    bottom: 0;
    width: 100%;
}

footer a {
    color: #b83232;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;

}
